.labelCell {
	font-weight: 600;
	display: flex;
	align-items: center;
	background: var(--picker-background);
	padding: 8px var(--picker-padding-inline);
	border-bottom: var(--picker-border);
}

.labelCell.inactive {
	opacity: 0.4;
	pointer-events: none;
}

.resetCell,
.colorCell,
.toggleCell {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--picker-background);
	padding: 8px 0;
	border-bottom: var(--picker-border);
}

.resetCell.inactive,
.colorCell.inactive,
.toggleCell.inactive {
	opacity: 0.4;
	pointer-events: none;
}

.colorCell input[type="color"] {
	width: 40px;
	height: 30px;
	cursor: pointer;
	border: none;
	background: none;
	flex-shrink: 0;
}
