.toggle {
	background-color: rgba(20, 30, 36, 0.8);
	box-sizing: content-box;
	color: rgb(255, 255, 255);
	display: flex;
	position: relative;
	user-select: none;

	--bg-color: rgb(49, 110, 125);
}

.toggle::before {
	background-color: var(--bg-color);
	border-radius: var(--radius);
	content: "";
	display: inline-block;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0;
	width: 50%;
	transition: left 125ms ease-in-out;
	z-index: 0;
}

.toggle:has(.toggleBtn:first-child.toggleBtnActive)::before {
	left: 0;
}

.toggleBtn {
	background: transparent;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	font-weight: 600;
	padding: 2px 12px;
	position: relative;
	z-index: 1;
	transition:
		color 125ms ease-in-out,
		background 125ms ease-in-out;
	white-space: nowrap;

	border: 2px solid var(--bg-color);
	border-radius: var(--radius);

	&:first-of-type {
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&:last-of-type {
		border-left: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&:focus,
	&:focus-visible {
		outline-offset: 0px;
	}
}

.toggleBtn:hover:not(.toggleBtnActive) {
	color: rgba(255, 255, 255, 0.9);
	background: rgba(255, 255, 255, 0.08);
}

.toggleBtnActive {
	color: rgb(255, 255, 255);
}

.toggleBtnActive:hover {
	background: rgba(255, 255, 255, 0.15);
}
