.container {
	display: grid;
	grid-template-columns: 1fr auto auto auto;
	padding-inline: var(--padding-inline);

	/* Picker component shared values */
	--picker-padding-inline: 16px;
	--picker-background: rgba(255, 255, 255, 0.02);
	--picker-border: 1px solid rgba(255, 255, 255, 0.05);
}

.headerCell {
	display: flex;
	align-items: center;
	background: rgba(233, 69, 96, 0.12);
	padding: 12px var(--picker-padding-inline);
	border-bottom: 2px solid rgba(233, 69, 96, 0.3);
}
