.container {
	display: grid;
	grid-template-columns: 1fr auto auto auto;
	padding-inline: var(--padding-inline);

	/* Picker component shared values */
	--picker-padding-inline: var(--spacing-md);
	--picker-background: var(--overlay-white-subtle);
	--picker-border: 1px solid var(--color-border-subtle);
}

.headerCell {
	display: flex;
	align-items: center;
	background: linear-gradient(
		135deg,
		hsl(258, 70%, 55%, 0.08),
		hsl(213, 70%, 60%, 0.08)
	);
	padding: var(--spacing-sm) var(--picker-padding-inline);
	border-bottom: 1px solid hsl(258, 70%, 55%, 0.25);
}
