.iconButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	padding: 0;
	flex-shrink: 0;
	text-transform: none;
}

.iconButton:active:not(:disabled) {
	transform: scale(0.95);
}
