.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.titleGroup {
	display: flex;
	gap: 14px;
	align-items: center;
	justify-content: flex-end;

	h3 {
		margin: 0;
		font-size: 1.25rem;
		text-transform: uppercase;
	}
}

.error {
	color: var(--color-error);
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.4;
}

.tweaksContainer {
	display: flex;
	flex-direction: column;
	border-radius: var(--radius);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.themeName {
	font-size: 0.875rem;
	line-height: 1.1;
	letter-spacing: 0.05em;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.05);
	/* border-left: 2px solid rgba(255, 255, 255, 0.2); */
	border-radius: var(--radius) var(--radius) 0 0;
	text-align: start;
	padding: 6px 10px;
	margin: 0;
}

.controls {
	display: flex;
	flex-direction: column;
	border-top: unset;
	padding: 14px 18px;
}

.pickersContainer {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.resetBtn {
	text-transform: uppercase;
	width: 100%;
	background: transparent;
	color: var(--color-error);
	font-size: 0.875rem;
	font-weight: 500;
	padding: 10px 12px;
	border: 1px solid rgba(244, 67, 54, 0.2);
	border-radius: 4px;
	margin-top: 20px;
	transition: all 0.15s ease-in-out;
}

.resetBtn:hover:not(:disabled) {
	background: rgba(244, 67, 54, 0.08);
	border-color: var(--color-error);
	color: var(--color-error);
}

.resetBtn:active:not(:disabled) {
	background: rgba(244, 67, 54, 0.12);
}

.resetBtn:disabled {
	color: rgba(244, 67, 54, 0.3);
	border-color: rgba(244, 67, 54, 0.1);
	cursor: not-allowed;
}
