.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.titleGroup {
	display: flex;
	gap: 14px;
	align-items: center;
	justify-content: flex-end;

	h3 {
		margin: 0;
		font-size: 1.25rem;
		text-transform: uppercase;
	}
}

.error {
	color: var(--color-error);
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.4;
}

.tweaksContainer {
	display: flex;
	flex-direction: column;
	border-radius: var(--radius);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.themeName {
	font-size: 0.875rem;
	line-height: 1.1;
	letter-spacing: 0.05em;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.05);
	/* border-left: 2px solid rgba(255, 255, 255, 0.2); */
	border-radius: var(--radius) var(--radius) 0 0;
	text-align: start;
	padding: 6px 10px;
	margin: 0;
}

.controlsContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-top: unset;
	padding: 14px 18px;
}

.pickersContainer {
	display: flex;
	flex-direction: column;
}

.actionsContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

