.container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	/* Picker component shared values */
	--picker-padding-inline: 10px;
	--picker-background: rgba(255, 255, 255, 0.03);
	--picker-border: 1px solid rgba(255, 255, 255, 0.04);
}

.titleGroup {
	display: flex;
	gap: 14px;
	align-items: center;
	justify-content: flex-end;

	h3 {
		margin: 0;
		font-size: 1.25rem;
		text-transform: uppercase;
	}
}

.error {
	color: var(--color-error);
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.4;
}

.tweaksContainer {
	display: flex;
	flex-direction: column;
	border-radius: var(--radius);
	border: none;
	background: rgba(255, 255, 255, 0.02);
	padding: 16px 0;
}

.themeName {
	font-size: 0.875rem;
	line-height: 1.1;
	letter-spacing: 0.05em;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.7);
	background: transparent;
	text-align: start;
	padding: 0 18px 10px 18px;
	margin: 0;
}

.controlsContainer {
	--padding-inline: 18px;

	display: flex;
	flex-direction: column;
	gap: 18px;
}

.pickersContainer {
	display: flex;
	flex-direction: column;
	padding-inline: var(--padding-inline);
}

.separator {
	height: 1px;
	background-color: rgba(255, 255, 255, 0.06);
}

.actionsContainer {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-inline: var(--padding-inline);
}
