.base {
	margin: 0;
	color: inherit;
	display: inline-flex;
}

.default {
	font-size: var(--font-size-default);
	line-height: var(--line-height-normal);
	font-weight: 400;
}

.body {
	font-size: var(--font-size-body);
	line-height: var(--line-height-relaxed);
	font-weight: 400;
}

.caption {
	font-size: var(--font-size-caption);
	line-height: var(--line-height-normal);
	font-weight: 400;
}

.title {
	font-size: var(--font-size-title);
	line-height: var(--line-height-heading);
	font-weight: 600;
	text-transform: uppercase;
}

.h4 {
	font-size: var(--font-size-h4);
	line-height: var(--line-height-heading);
	font-weight: 600;
}

.h3 {
	font-size: var(--font-size-h3);
	line-height: var(--line-height-heading);
	font-weight: 600;
}

.h2 {
	font-size: var(--font-size-h2);
	line-height: var(--line-height-heading);
	font-weight: 600;
}

.h1 {
	font-size: var(--font-size-h1);
	line-height: var(--line-height-tight);
	font-weight: 600;
}
