:root {
	font-family:
		system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;

	--bg-color: #242424;
	--radius: 6px;

	--color-error: rgb(244, 67, 54);

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--bg-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 360px;
	margin: 0;
	display: flex;
	/* place-items: center;
	min-height: 100vh; */
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.7rem;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 1.3rem;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0.5em;
}

p {
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 1em;
}

.card {
	padding: 2em;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
